*{
	margin:0px;
	padding: 0px; 
	box-sizing: border-box;
}
.container{
	border:2px solid;
	padding-bottom: -7px; 
	background-color: black; 
}
div #logo{
    display: inline-block;
    margin: 20px;
    margin-top: 9px;
    margin-left: 30px;
}
div #logo img{
	padding-top: 11px;
}

nav{
	display: inline-block;
	/*border:2px solid;*/  
	margin-left: -30px;
	height: 50px;
}

nav ul{
	display: flex;
	flex-direction: row;
	padding:3px;
}
nav ul li{
	padding:30px;
	font-weight: bold;
	list-style-type: none;
	color: white;
}

nav ul li:hover{
	color:white;
}
nav ul li ul{
	 display: none;
	 border:2px solid black;
	 width: 240px;
	 margin-top: 13px;
}
nav ul li ul li{
	padding:17px;
	font-weight: normal;
}

nav ul li:hover ul {
	display: block;
	background-color: #212529;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
nav ul li ul li:hover{
	background-color: #6c757d;	
}


#social-links{ 
	border:2px solid red;
	float: right;
	margin-top: 8px;
	width: 300px;
}
#social-links h3{
    color: white;
    font-weight: normal;
}
#logo-img{
     padding:20px;
}


